<ion-header>
  <ion-navbar>
    <ion-title>
      Estadisticas Curso y General
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <button ion-button (click)="cursosmas()">
        100 cursos mas
      </button>
      
      <button ion-button (click)="cursosmenos()">
        100 cursos menos
      </button>

      <p>
        Cursos desde {{ tamini }} a {{ tamini+ cursosbuffer.length }}
      </p>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="curso" (ngModelChange)="cambiar($event)" placeholder="Seleccione una Asignatura">
        <ion-option *ngFor="let data of cursosbuffer" [value]="data.code">
                    {{ data.nombre }}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <p>
    Codigo de Curso: {{ curso }}
  </p>
 
  <canvas id="canvas">
    </canvas>
</ion-content>